<a href="https://colab.research.google.com/github/laxpala/OVF-DATA-ACADEMY/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#### Here is the script to get the data directly from kaggle through colab

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle

# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder

# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json

# Datasets available here:
# https://www.kaggle.com/datasets/artemkorottchenko/large-boatyacht-pricing-dataset
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

Saving kaggle.json to kaggle.json
Downloading large-boatyacht-pricing-dataset.zip to /content
  0% 0.00/6.22M [00:00<?, ?B/s]
100% 6.22M/6.22M [00:00<00:00, 76.3MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [3]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [8]:
df.shape
df.dtypes
!df.describe(include-'all')
df.info()
df.length

/bin/bash: -c: line 0: syntax error near unexpected token `include-'all''
/bin/bash: -c: line 0: `df.describe(include-'all')'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  object
dtypes: float64(7), object(31)
memory usage: 3.1+ MB

AttributeError: ignored

In [9]:
df['Year Built'].head()

0    2017.0
1    2020.0
2       NaN
3    2020.0
4    1974.0
Name: Year Built, dtype: float64

In [10]:
df[['Year Built', 'Model','Category']].head()

   Year Built                       Model     Category
0      2017.0                     CAP 400  Power Boats
1      2020.0                       400 C  Power Boats
2         NaN             370 S - Aluboot  Power Boats
3      2020.0  10 Classic Special Edition  Power Boats
4      1974.0          Gullholmensnipa 21  Power Boats

In [26]:
mask3 = ((df['Year Built']<=2001) | ((df['Year Built']>=2011)) & (df['Number of Cabins']<=2)

SyntaxError: ignored

In [31]:
np.round.(df['Fuel Type'].value_counts(normalize=True, dropna=False)*100,decimals=2)

SyntaxError: ignored

In [32]:
df.dtypes

Price                           object
Category                        object
Boat Type                       object
Manufacturer                    object
Model                           object
Boat name                       object
Type                            object
Year Built                     float64
Condition                       object
Length                          object
Width                           object
Depth                           object
Displacement                    object
CE Design Category              object
Cert Number of People          float64
Number of Cabins               float64
Number of beds                 float64
Hull Color                      object
Number of Toilets              float64
Number of Bathrooms            float64
Number of Showers              float64
Material                        object
Fresh Water Cap                 object
Holding Tank                    object
Propulsion                      object
Engine                          object
Engine Performance              object
Fuel Capacity                   object
Fuel Type                       object
Engine Hours                    object
Max Speed                       object
Cruising Speed                  object
Location                        object
Number of views last 7 days     object
Comments                        object
Additional Comments             object
Equipment                       object
Advertisement Date              object
dtype: object

In [35]:
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'])

In [36]:
df['Advertisement Date'].head()

0   2021-08-11
1   2020-08-19
2   2021-01-06
3   2020-08-01
4   2021-05-05
Name: Advertisement Date, dtype: datetime64[ns]

In [ ]:
#Focus on list

cities = ['Paris','Zurich',"Dumont d'Urville",'London']

type(cities) 

cities[-3]

cities.insert(2,'Hong Kong')

['Nice', 'Paris', 'Zurich', 'Hong Kong', "Dumont d'Urville", 'London']

In [ ]:
val=-11

if val>0:
    print('The value is positive')

elif val<0:
    print('The value is negative')

elif val<-10:
    print('Very low')

else:
  print('The value equals 0')

The value is negative

In [ ]:
#Functions

def awesome_lax_function_to_calculate_area(a,b):
  '''
  Function in order to calculate the area of the rectanlge

  Parameters:
  a: Represents the length
  b: Represents the width
  '''
    my_area = a*b 

    return my_area

NameError: ignored

In [ ]:
area1 - awesome_lax_function_to_calculate_area(3,7)

NameError: ignored